<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


<div id="map" style="width: 600px; height: 400px"></div>

